.button {
    -fx-background-color: #3498db;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.button:pressed {
    -fx-background-color: #1f6481;
}